.wrapper
  - @gatherings.each do |gathering|
    .event
      .event-map
      %h1= gathering.name
      %h2= gathering.start_at
      %p= gathering.description
      = participations_link_for gathering
      .event-attending 4 attending
