%section.blog
  .wrapper
    .article
      %h1 About BRUG

      %h2 Icons
      :markdown

        * <a href="http://thenounproject.com/noun/beer/#icon-No593" target="_blank">Beer</a>  from The Noun Project
        * <a href="http://thenounproject.com/noun/laptop/#icon-No4731" target="_blank">Laptop</a> designed by <a href="http://thenounproject.com/Olivier Guin" target="_blank">Olivier Guin</a> from The Noun Project
        * <a href="http://thenounproject.com/noun/presentation/#icon-No3059" target="_blank">Presentation</a> designed by <a href="http://thenounproject.com/jorishoogendoorn" target="_blank">Joris Hoogendoorn</a> from The Noun Project
        * <a href="http://thenounproject.com/noun/people/#icon-No10579" target="_blank">People</a> designed by <a href="http://thenounproject.com/alexfuller" target="_blank">Alex Fuller</a> from The Noun Project
        * <a href="http://thenounproject.com/noun/map-marker/#icon-No16939" target="_blank">Location</a> designed by <a href="http://thenounproject.com/kellylesliewalker/#" target="_blank">Kelly Walker</a>
