%section.blog
  .wrapper
    .post
      %h3
        New name, new site
        %span 01-06-2013
      .content
        :markdown
          After the ArrrrCamp in 2010 we hijacked the BRUG and called it ArrrrUG. From the outset our goal was to have a user group meeting every month.

          We feel that after two years we need something new, something fresh. We've got the Ruby Food meetings, some other casual meetups over drinks, conferences and of course the 'regular' user group.

          Today we're releasing a new (open source) website where you can add all of these gatherings. A place where you can see when and where other Belgian Ruby developers will hang out.

          We also feel the ArrrrUG name lost some of its meaning and as such we're cutting the link with ArrrrCamp. The fine folks over at [Wijs](http://wijs.be) were kind enough to donate the [brug.be](http://brug.be) domain name so from here on out we will use a more general name: Belgian Ruby User Group or BRUG for short.

          We would love to see this site become the place to organize burger-meetups, drinkups, regular meetups, hacknights and even conferences around the world where members of our community will be present.
