/* This uses Bourbon and a lot of modular-scale functions
-------------------------------------------------------- */
@import 'bourbon';

$redcolor: #A60A17;
$textcolor: #333;

html {
  height: 100%;
}

body {
  font-size: modular-scale(18px, 0, 1.618);
  color: $textcolor;
  font-family: 'Open Sans', helvetica-neue, helvetica, arial, sans-serif;
}

section {
  margin: 0 auto;
  padding: modular-scale(18px, 1, 1.618) 0;
}

section.landing {
  margin-top: modular-scale(18px, 2, 1.618);
}

nav + section {
  padding-top: modular-scale(18px, 3, 1.618);
}

h1 {
  color: $redcolor;
  font-size: modular-scale(18px, 3, 1.618);
}

h2 {
  font-size: modular-scale(18px, 2, 1.618);
}

h3 {
  font-size: modular-scale(18px, 1, 1.618);
}

h4 {
  font-size: modular-scale(18px, 0, 1.618);
  font-weight: bold;
}

p {
  max-width: modular-scale(18px, 8, 1.618);
  line-height: 1.6;
  margin: 1em auto;
}

.wrapper {
  max-width: 63em;
  margin: 0 auto;
}

header {
  color: #fff;
  text-align: center;
  // height: 100%;
  background: image-url('header_bg.jpg') repeat-x center center fixed;
  background-size: cover;
}

header .wrapper {
  max-width: 100%;
  padding: modular-scale(18px, 4, 1.618) 0;
  background-color: rgba(0,0,0,0.8);
}

header {
  h1, h2, h3, h4 {
    font-weight: 200;
  }
}

header h1 {
  max-width: 7em;
  margin: 0 auto 1em auto;
  margin-bottom: modular-scale(18px, 1, 1.618);
  font-weight: normal
}

header h2 {
  margin: 1em auto;
  font-size: modular-scale(18px, 1, 1.618);
}

header .divider {
  font-size: modular-scale(18px, 0, 1.618);
}

.divider {
  &:before, &:after {
    content: "\2014";
    margin: 0 0.5em;
  }
}

a:link,
a:visited,
a:hover,
a:active {
  color: $redcolor;
  text-decoration: none;
  border-bottom: 2px solid $redcolor;
}

a:hover,
a:active {
  color: darken($redcolor, 10%);
  border-bottom: 2px solid darken($redcolor, 10%);
}

a.call-to-action {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background: $redcolor;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 0.5em 2em;
  border: none;
  font-weight: 200;
  &:hover {
    background: darken($redcolor, 10%);
  }
}

header .call-to-action {
  font-size: modular-scale(18px, 1, 1.618);
  padding: 0.5em 2em;
  margin-top: modular-scale(18px, -1, 1.618);;
  color: #fff;
}


/* Navigation
-------------------------------------------- */

nav {
  width: 100%;
  text-align: center;
  line-height: modular-scale(18px, 2, 1.618);
  border-bottom: 1px solid #ccc;
  background: rgba(255,255,255,0.95);
  position: absolute;
}

nav.affix {
  position: fixed;
  top: 0;
  z-index: 100;
}

nav .logo-type {
  font-size: modular-scale(18px, 1, 1.618);
  font-weight: bold;
  letter-spacing: modular-scale(18px, -3, 1.618);
  color: $redcolor;
  border: 2px solid $redcolor;
  float: left;
  line-height: 1;
  padding: modular-scale(18px, -5, 1.618) modular-scale(18px, -4, 1.618);
  position: relative;
  margin-top: modular-scale(18px, 2, 1.618)/2;
}

nav .logo-type a {
  border-bottom: none;
}

nav .logo-type:hover {
  border-color: darken($redcolor, 10%);
}

nav ul {
  display: inline-block;
  text-align: right;
  float: right;
}

nav ul li {
  display: inline-block;
  margin: 0 modular-scale(18px, 1, 1.618);
}

nav ul li a {
  text-transform: uppercase;
}

nav ul li.active a {
  padding: 0 modular-scale(18px, -2, 1.618);
  border: 2px solid $redcolor;
}

nav ul li.active:hover a,
nav ul li.active:active a {
  border: 2px solid darken($redcolor, 10%);
  color: darken($redcolor, 10%);
}


/* Events
-------------------------------------------- */

.event {
  @include clearfix;
  margin: modular-scale(18px, 3, 1.618) auto;
}

.event .event-name {
  display: inline-block;
}

.event .event-edit a {
  border: 0;
}

.event .event-name a:link,
.event .event-name a:visited {
  color: $textcolor;
  border: 0;
}

.event .event-name a:hover,
.event .event-name a:active {
  color: darken($textcolor, 5%);
}

.event aside {
  float: left;
  text-align: right;
  height: 100%;
  width: 30%;
}

.event aside,
.event aside a:link,
.event aside a:visited {
  color: lighten($textcolor, 30%);
  border-color: lighten($textcolor, 30%);
}

.event aside a:hover,
.event aside a:active {
  color: lighten($textcolor, 20%);
  border-color: lighten($textcolor, 20%);
}

.event article {
  float: left;
  width: 65%;
  margin-left: 5%;
}

.event-start-date {
  line-height: modular-scale(18px, 2, 1.618) * 1.5;
}

.event aside p {
  margin-top: 0;
}

.event aside h3 {
  font-weight: normal;
}

.event aside .attend-link a {
  color: #fff;
  margin-top: 1em;
}

.event-attendees {
  line-height: 2;
  margin-top: modular-scale(18px, 2, 1.618);
  @include clearfix;
}

.event-attendees h3 {
  margin-bottom: modular-scale(18px, 0, 1.618);
}

.event-attendees img {
  width: modular-scale(18px, 1, 1.618);
  height: modular-scale(18px, 1, 1.618);
  border-radius: ceil(modular-scale(18px, 1, 1.618)/2);
  -webkit-border-radius: ceil(modular-scale(18px, 1, 1.618)/2);
  vertical-align: bottom;
  margin-right: modular-scale(18px, -1, 1.618);
}

.event-attendees .attendee {
  width: modular-scale(18px, 6, 1.618);
  float: left;
  margin-bottom: modular-scale(18px, -2, 1.618);
}

.event-attendees a:link,
.event-attendees a:visited,
.event-attendees a:hover,
.event-attendees a:active {
  color: $textcolor;
  border: none;
  line-height: modular-scale(18px, 1, 1.618);
}

.event-attendees a:hover span,
.event-attendees a:active span {
  border-bottom: 1px solid darken($textcolor, 10%);
}


/* Contact
-------------------------------------------- */

#contact {
  font-size: modular-scale(18px, 2, 1.618);
  padding: modular-scale(18px, 3, 1.618) 0;
  text-align: center;
  color: $redcolor;
}

/* Blog
-------------------------------------------- */

.blog .post-date {
  font-size: modular-scale(18px, 0, 1.618);
  color: lighten($textcolor, 30%);
  &:after {
    content: "\2014";
    margin: 0 0.5em;
  }
}

.blog h1 {
  text-align: center;
}


/* Members
-------------------------------------------- */

#members {
  text-align: center;
}

#members h2 {
  margin-bottom: modular-scale(18px, 2, 1.618);
}

#members a {
  border: 0;
  display: inline-block;
  width: modular-scale(18px, 4, 1.618);
  height: modular-scale(18px, 4, 1.618);
  background-size: cover;
  border-radius: ceil(modular-scale(18px, 4, 1.618)/2);
  -webkit-border-radius: ceil(modular-scale(18px, 4, 1.618)/2);
  overflow: hidden;
}

#members a:link,
#members a:visited {
  opacity: 0.8;
  transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
}

#members a:hover,
#members a:active {
  opacity: 1;
  transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
}

/* Form
-------------------------------------------- */

section#footer {
  margin: 0;
  padding: 0;
  background: #eee;
  border-top: 1px solid #ccc;
  text-align: center;
  padding: modular-scale(18px, 2, 1.618) 0;
}

/* Form
-------------------------------------------- */

form label {
  display: inline-block;
  width: 160px;
  padding-bottom: modular-scale(5px, 1, 1.618);
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

  /* Styles for mobile */

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

  /* Styles for tablet */

}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {

  /* Don't forget your Retina CSS! */

}
